*{
  padding: 0;
  margin: 0;
}

body{
  overflow: hidden;
  height: 100vh;
  font-family: "Inter", sans-serif;
  background: linear-gradient(180deg, #002b52, #000000);
}

header{
    background-color: white;
    height: 180px;
    border-radius: 0px 0px 40px 0px;
}

header > h1{
    margin-top: 20px;
    margin-left: 50px;
    font-size: 30px;
}

header > a > img{
    margin-top: 30px;
    margin-left: 30px;
    width: 50px;
    height: auto;
}

.entradas{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 30px 15px 30px;
}

.entradas > input{
    all: unset;
    font-size: 20px;
    border-bottom: 2px solid #fafafa;
    opacity: 0.8;
    padding-bottom: 10px;
    padding-left: 15px;
    color: white;
    background: none;
}


input::placeholder{
    color: #fafafa;
    opacity: 0.8;
}

.mandar{
    display: flex;
    justify-content: center;
}

button{
    background-color: white;
    width: 100%;
    height: 55px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}



